<section id="main-section">
    <div id="main-section-container">
        <img src="/img/logo.png" alt="Rolands & Inta logo" />
        <h1 class="main-headline">Rolands & Inta</h1>
        <h3>27.09.2020</h3>
        <h3>Cecīļu dabas takas, Ieriķi</h3>
        <h3>Siltumnīca, Valmiera</h3>
    </div>
</section>

<section id="story-section">
    <div id="story-section-container">
        <h1>Mēs</h1>
        <div class="story-image-container">
            <figure class="story-image-item item--1">
                <img src="/img/story-love/1.jpg" alt="" class="story-image-img" />
            </figure>
            <figure class="story-image-item item--2">
                <img src="/img/story-love/2.jpg" alt="" class="story-image-img" />
            </figure>
            <figure class="story-image-item item--3">
                <img src="/img/story-love/3.jpg" alt="" class="story-image-img" />
            </figure>
            <figure class="story-image-item item--4">
                <img src="/img/story-love/4.jpg" alt="" class="story-image-img" />
            </figure>
            <figure class="story-image-item item--5">
                <img src="/img/story-love/5.jpg" alt="" class="story-image-img" />
            </figure>
            <figure class="story-image-item item--6">
                <img src="/img/story-love/6.jpg" alt="" class="story-image-img" />
            </figure>
            <figure class="story-image-item item--7">
                <img src="/img/story-love/7.jpg" alt="" class="story-image-img" />
            </figure>
            <figure class="story-image-item item--8">
                <img src="/img/story-love/8.jpg" alt="" class="story-image-img" />
            </figure>
            <figure class="story-image-item item--9">
                <img src="/img/story-love/9.jpg" alt="" class="story-image-img" />
            </figure>
            <figure class="story-image-item item--10">
                <img src="/img/story-love/10.jpg" alt="" class="story-image-img" />
            </figure>
            <figure class="story-image-item item--11">
                <img src="/img/story-love/11.jpg" alt="" class="story-image-img" />
            </figure>
            <figure class="story-image-item item--12">
                <img src="/img/story-love/12.jpg" alt="" class="story-image-img" />
            </figure>
        </div>
    </div>
</section>

<div id="happiness-section">
    <div id="happiness-section-container">
        <blockquote class="blockquote">
            <p class="mb-0">Tur, kur ir mīlestība, ir arī dzīve.</p>
            <footer class="blockquote-footer">Mahatma Gandi</footer>
        </blockquote>
    </div>
</div>

<section id="wedding-details-section">
    <div id="wedding-details-section-container">
        <h1>Svinību norise</h1>
        <div class="container">
            <div class="row">
                <div class="col-md text-center detail-container">
                    <a target="_blank"
                       href="https://www.google.lv/maps/place/Cec%C4%AB%C4%BCu+dabas+taka/@@57.2192217,25.1635318,18.25z/data=!4m5!3m4!1s0x46e95eb2e4700285:0x2d7026c96d861d17!8m2!3d57.2189314!4d25.1648615">
                        <div class="wedding-detail-image">
                            <img src="/img/cecili.jpg" alt="" class="rounded-circle" />
                        </div>
                    </a>
                    <h4>Kāzu ceremonija</h4>
                    <h6>13:00 - 14:00</h6>
                    <h6>Cecīļu dabas takas</h6>
                    <h6>Pie Cecīļu ieža</h6>
                    <a class="map-text" target="_blank"
                       href="https://www.google.lv/maps/place/Cec%C4%AB%C4%BCu+dabas+taka/@@57.2192217,25.1635318,18.25z/data=!4m5!3m4!1s0x46e95eb2e4700285:0x2d7026c96d861d17!8m2!3d57.2189314!4d25.1648615">Karte</a>
                </div>
                <div class="col-md text-center detail-container">
                    <a target="_blank"
                       href="https://www.google.lv/maps/place/Siltumn%C4%ABca/@@57.5350147,25.4826607,15.75z/data=!4m5!3m4!1s0x46ebec08157008e5:0xd0c27180391a9ec8!8m2!3d57.5346543!4d25.4890695">
                        <div class="wedding-detail-image">
                            <img src="/img/siltumnica.jpg" alt="" class="rounded-circle" />
                        </div>
                    </a>
                    <h4>Svinības</h4>
                    <h6>17:00 - 00:00</h6>
                    <h6>Siltumnīca</h6>
                    <h6>Valmiera</h6>
                    <a class="map-text" target="_blank"
                       href="https://www.google.lv/maps/place/Siltumn%C4%ABca/@@57.5350147,25.4826607,15.75z/data=!4m5!3m4!1s0x46ebec08157008e5:0xd0c27180391a9ec8!8m2!3d57.5346543!4d25.4890695">Karte</a>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="love-section">
    <div id="love-section-container">
        <blockquote class="blockquote">
            <p class="mb-0">
                Mīlestība ir lēnprātīga, mīlestība ir laipna, tā neskauž, mīlestība
                nelielās, tā nav uzpūtīga. Tā neizturas piedauzīgi, tā nemeklē savu
                labumu, tā neskaistas, tā nepiemin ļaunu. Tā nepriecājas par
                netaisnību, bet priecājas par patiesību.
            </p>
            <footer class="blockquote-footer">1. korintiešiem 13:4-7</footer>
        </blockquote>
    </div>
</div>

<section id="information-section">
    <div id="information-section-container" class="text-center">
        <h1>Noderīga informācija</h1>
        <div class="container">
            <div class="row">
                <div class="info-container col-md-6">
                    <div class="icon-box">
                        <i class="fas fa-gift fa-3x"></i>
                    </div>
                    <div class="description">
                        <div class="description-title text-left">
                            <h4>Dāvanas</h4>
                        </div>
                        <div class="description-text text-left">
                            <p>
                                Ja vēlies mums ko uzdāvināt, priecāsimies par atbalstu mūsu kopdzīves pamatu veidošanai aploksnītes
                                formātā.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="info-container col-md-6">
                    <div class="icon-box">
                        <i class="fas fa-hotel fa-3x"></i>
                    </div>
                    <div class="description">
                        <div class="description-title text-left">
                            <h4>Naktsmītnes</h4>
                        </div>
                        <div class="description-text text-left">
                            <p>
                                Svinības mēs noturēsim līdz pusnaktij, kad arī atstāsim svinību vietu. Ja esat mērojuši garāku ceļu,
                                lai būtu kopā ar mums, mēs iesakām apdomāt potenciālas naktsmītnes netālu, lai nevajadzētu braukt
                                mājup nakts vidū.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="info-container col-md-6">
                    <div class="icon-box">
                        <i class="fas fa-cloud-sun-rain fa-3x"></i>
                    </div>
                    <div class="description">
                        <div class="description-title text-left">
                            <h4>Apģērbs</h4>
                        </div>
                        <div class="description-text text-left">
                            <p>
                                Nav nepiemēroti laikapstākļi, ir nepiemērots apģērbs. Mēs aicinām padomāt kārtīgi par savu apģērbu, jo
                                ceremonija notiks brīvā dabā un svinības gandrīz brīvā dabā.
                                <br>Mīļās dāmas, aicinām padomāt arī par ērtākiem/ bezpapēžu apaviem, ņemot vērā, ka līdz ceremonijas
                                un
                                svinību vietai var aiziet tikai pa taciņām.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="info-container col-md-6">
                    <div class="icon-box">
                        <i class="fas fa-spa fa-3x"></i>
                    </div>
                    <div class="description">
                        <div class="description-title text-left">
                            <h4>Ziedi</h4>
                        </div>
                        <div class="description-text text-left">
                            <p>
                                Lai ziedi paliek pļavās un veikalos, tādēļ mēs ļoti priecāsimies, ja izvēlēsieties mums ziedus
                                nedāvināt.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="info-container col-md-6">
                    <div class="icon-box">
                        <i class="fas fa-child fa-3x"></i>
                    </div>
                    <div class="description">
                        <div class="description-title text-left">
                            <h4>Bērni</h4>
                        </div>
                        <div class="description-text text-left">
                            <p>
                                Lai arī mums ļoti patīk bērni, aicinām šoreiz viņus atstāt kādās gādīgās rokās mājās. Šāds lūgums
                                tapa, kad apzinājāmies, ka svinību vieta nav piemērota/iekārtota bērniem.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="info-container col-md-6">
                    <div class="icon-box">
                        <i class="fas fa-phone fa-3x"></i>
                    </div>
                    <div class="description">
                        <div class="description-title text-left">
                            <h4>Saziņa ar jauno pāri</h4>
                        </div>
                        <div class="description-text text-left">
                            <p>
                                Tuvojoties īpašajam datumam, jaunais pāris kļūs aizvien nepieejamāks, tāpēc lūdzam jautājumu gadījumā
                                sazināties ar vedējiem - Andaru un Gitu. Viņi noteikti palīdzēs!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>